import("Formula")
import("sandwich")
import("rtf")
import("qvcalc")
import("partykit")
import("gWidgets2tcltk")
import("psychotools")
importFrom("gWidgets2", gwindow,gbutton,ggroup,addSpring,"enabled<-")
importFrom("utils", read.delim)
importFrom("R.oo", charToInt)
importFrom("stringi",stri_trans_general)
#importFrom("psychotools",worth,paircomp)
exportPattern("^[^\\.]")
